channels==3.0.5
channels-redis==4.0.0
cryptography==38.0.1
django-phonenumber-field==7.0.0
Django==4.1
django-cors-headers==3.13.0
django-filter==22.1
django-fsm==2.8.1
django-graphql-jwt==0.3.4
graphene-django==2.15.0
graphql-ws==0.4.4
phonenumbers==8.12.57
psycopg2==2.9.3
python-dotenv==0.21.0
PyYAML==6.0
# testing
flake8==5.0.4
tblib==1.7.0
# dev
pdbpp==0.10.3
ptvsd==4.3.2

