channels[daphne]==4.0.0
channels-redis==4.1.0
cryptography==41.0.1
django-phonenumber-field==7.1.0
Django==4.2.2
django-cors-headers==4.1.0
django-filter==23.2
django-fsm==2.8.1
django-graphql-jwt==0.3.4
graphene-django==3.1.2
django-channels-graphql-ws==v1.0.0rc6
phonenumbers==8.13.22
psycopg2==2.9.6
python-dotenv==1.0.0
PyYAML==6.0
# testing
flake8==6.0.0
tblib==2.0.0
# dev
debugpy==1.6.7
pdbpp==0.10.3

